.row {
  display: flex;
  flex-direction: row;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.clicked {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background: red;
}